#STRIPE_SECRET_KEY=
STRIPE_SECRET_KEY=

APP_URL=http://localhost:9000

JWT_SECRET=change_me_in_prod

# STRIPE_PRICE_ID=
STRIPE_PRICE_ID=

STRIPE_WEBHOOK_SECRET=

# FRONTEND_URL=http://127.0.0.1:8501
FRONTEND_URL=http://127.0.0.1:9000

FREE_USERS=cole.norman34@gmail.com,alec.staab@gmail.com,drakenorman1@gmail.com,ccarstens31@gmail.com,zephyrmelton@gmail.com,dylan.m.andres@gmail.com 
